{% extends 'post/base.html' %}

{% block sidebar %}
    <h3>Detail of application</h3>
{% endblock sidebar %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ application.date_created|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'urp-detail' application.urp.pk %}">{{ application.urp.title }}</a> </h2>
            <div>
                <p>Status: {{ application.status }}</p>
            </div>
        </div>
    </article>

{% endblock content %}
