{% extends 'post/base.html' %}
{% block content %}
    {% for application in applications %}
    <div class="card mb-2">
        <div class="card-body">
            <h2 class="card-title">{{ application.applicant.first_name }} {{ application.applicant.last_name }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">{{ application.date_created|date:"F d, Y" }}</h6>
            <p class="card-text">Statement of interest: {{ application.description|safe }}</p>
            <a href="#" class="btn btn-outline-success">Accept</a>
            <a href="#" class="btn btn-outline-danger">Reject</a>
        </div>
    </div>
    {% endfor %}

{% endblock content %}